* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", serif;
}

.container {
  max-width: 1170px;
}

a {
  text-decoration: none;
}

header {
  position: absolute;
  width: 100%;
  z-index: 999;
}
header nav {
  background-color: rgba(22, 12, 109, 0.6);
  padding: 18px 0 !important;
}
header nav ul {
  gap: 42px;
}
header nav ul li a {
  font-size: 18px;
  font-weight: 600;
  color: #EFF4FA;
}
header nav ul li a:hover {
  color: #1bbf00;
}
header nav button {
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  color: #EFF4FA;
  background-color: #1bbf00;
  padding: 14px 28px;
  border: 2px solid #1bbf00;
  border-radius: 100px;
  text-transform: capitalize;
}

#banner {
  background: url("../Images/bannerimg.jpg") no-repeat center;
  background-size: cover;
  height: 960px;
  position: relative;
}
#banner .shapeone {
  position: absolute;
  top: 304px;
  left: 31px;
}
#banner .shapetow {
  position: absolute;
  bottom: 73px;
  right: 310px;
}
#banner .overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(107, 98, 197, 0.8);
  padding-top: 246px;
  padding-bottom: 254px;
}
#banner .overlay h1 {
  font-size: 84px;
  font-weight: 700;
  line-height: 100%;
  color: #EFF4FA;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 20px;
}
#banner .overlay p {
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
  color: #E6E5F3;
  text-align: center;
  font-family: "Paprika", serif;
  max-width: 715px;
  margin: 0 auto;
  margin-bottom: 16px;
}
#banner .overlay button {
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  color: #EFF4FA;
  background-color: #1bbf00;
  padding: 14px 28px;
  border: 2px solid #1bbf00;
  border-radius: 100px;
  text-transform: capitalize;
  background-color: transparent;
}
#banner .overlay button:hover {
  background-color: #1bbf00;
}

#count {
  width: 100%;
  height: 704px;
  padding: 283px 0;
  background-color: #F9F9FB;
  position: relative;
  overflow: hidden;
}
#count .count__img {
  width: 464px;
  height: 429px;
  top: 0;
  right: -145px;
  position: absolute;
}
#count .content__part {
  border-right: 3px solid rgba(79, 88, 95, 0.3098039216);
}
#count .content {
  text-align: center;
}
#count .content .content__lastpart {
  border: none;
}
#count .content h3 {
  font-size: 64px;
  font-weight: 800;
  line-height: 68px;
  color: #1bbf00;
  font-family: "Open Sans", serif;
}
#count .content p {
  font-size: 34px;
  font-weight: 700;
  line-height: 40px;
  color: #141135;
  font-family: "Open Sans", serif;
  position: relative;
}

#chooseus {
  max-width: 100%;
  height: 626px;
  position: relative;
}
#chooseus .choo__img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
#chooseus .content {
  padding-top: 100px;
  padding-bottom: 100px;
}
#chooseus .content .content__left {
  border-radius: 12px;
  transition: 0.4s;
  width: 568px;
  margin-bottom: 30px;
}
#chooseus .content .content__left:hover {
  padding: 42px 28px;
  box-shadow: -5px -5px 10px rgba(211, 211, 211, 0.748), 10px 10px 10px 5px rgba(94, 104, 121, 0.3);
  margin-left: -30px;
}
#chooseus .content .content__left .round {
  margin-top: 5px;
}
#chooseus .content .content__left .round .first {
  width: 25px;
  height: 25px;
  background-color: #1bbf00;
  border-radius: 50%;
}
#chooseus .content .content__left .round .sceond {
  width: 25px;
  height: 25px;
  background-color: #CBC8F0;
  border-radius: 50%;
  margin-left: -15px;
}
#chooseus .content .content__left h4 {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #474179;
  font-family: "Paprika", serif;
  width: 340px;
}
#chooseus .content .con__right h3 {
  font-size: 48px;
  font-weight: 700;
  color: #141135;
  font-family: "Open Sans", serif;
  margin-bottom: 9px;
}
#chooseus .content .con__right p {
  font-size: 18px;
  font-weight: 400;
  color: #474179;
  font-family: "Paprika", serif;
  width: 393px;
  margin-bottom: 41px;
}
#chooseus .content .con__right button {
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  color: #EFF4FA;
  background-color: #1bbf00;
  padding: 14px 28px;
  border: 2px solid #1bbf00;
  border-radius: 100px;
  text-transform: capitalize;
  background-color: transparent;
  color: #474179;
  transition: 0.4s;
}
#chooseus .content .con__right button:hover {
  background-color: #1bbf00;
  color: #EFF4FA;
}

#wedo {
  width: 100%;
  padding: 100px 0;
  background-color: #F6F5FF;
}
#wedo .title {
  margin-top: 55px;
}
#wedo .title h3 {
  font-size: 48px;
  font-weight: 700;
  color: #141135;
  font-family: "Open Sans", serif;
  margin-bottom: 20px;
}
#wedo .title p {
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  color: #6c7d93;
  font-family: "Open Sans", serif;
  width: 345px;
  margin-bottom: 56px;
}
#wedo .title button {
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  color: #EFF4FA;
  background-color: #1bbf00;
  padding: 14px 28px;
  border: 2px solid #1bbf00;
  border-radius: 100px;
  text-transform: capitalize;
  background-color: transparent;
  color: #474179;
  transition: 0.4s;
}
#wedo .title button:hover {
  background-color: #1bbf00;
  color: #EFF4FA;
}
#wedo .item {
  width: 100%;
  height: 395px;
  padding: 48px 0;
  border: none;
  border-radius: 20px;
  transition: 0.4s;
}
#wedo .item img {
  width: 64px;
  height: 64px;
  margin: 0 auto;
  margin-bottom: 32px;
}
#wedo .item h4 {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  font-family: "Open Sans", serif;
  color: #141135;
}
#wedo .item p {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  font-family: "Paprika", serif;
  color: #726E9E;
  width: 288px;
  margin: 0 auto;
  padding: 20px 0;
}
#wedo .item a {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  font-family: "Open Sans", serif;
  color: #141135;
  position: relative;
  z-index: 1;
}
#wedo .item a::after {
  content: "";
  width: 27px;
  height: 40px;
  background-color: #1BBF00;
  top: -5px;
  right: -10px;
  border-radius: 0 100px 100px 0;
  transform: translateY(0%);
  position: absolute;
  z-index: -1;
}
#wedo .item:hover {
  background-color: #6B62C5;
}
#wedo .item:hover h4 {
  color: #fcfcff;
}
#wedo .item:hover p {
  color: #fcfcff;
}
#wedo .item:hover a {
  color: #F4F4F5;
}
#wedo .item:hover a::after {
  background-color: #ffffff;
  opacity: 30%;
}

#impact {
  width: 100%;
  height: 878px;
  padding: 100px 0;
  position: relative;
}
#impact .impact__element {
  position: absolute;
  right: 0;
  bottom: 0;
}
#impact .impact__wrapper .imp__title h2 {
  font-size: 48px;
  font-weight: 700;
  font-family: "Open Sans", serif;
  color: #141135;
  text-align: center;
}
#impact .impact__wrapper .imp__title p {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  font-family: "Paprika", serif;
  color: #726e9e;
  width: 558px;
  margin: 0 auto;
  margin-top: 23px;
  margin-bottom: 75px;
  text-align: center;
}
#impact .impact__wrapper .imp__text--part img {
  width: 63px;
  height: 63px;
}
#impact .impact__wrapper .imp__text--part .imp__text h4 {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  font-family: "Open Sans", serif;
  color: #141135;
}
#impact .impact__wrapper .imp__text--part .imp__text p {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  font-family: "Paprika", serif;
  color: #726e9e;
  width: 343px;
  margin-top: 23px;
  margin-bottom: 75px;
}
#impact .impact__wrapper .impact__img {
  position: relative;
}
#impact .impact__wrapper .impact__img .imp__img1 {
  position: absolute;
  top: 20px;
  left: 0;
}
#impact .impact__wrapper .impact__img .imp__img2 {
  position: absolute;
  top: 20px;
  left: 250px;
}
#impact .impact__wrapper .impact__img .imp__img3 {
  position: absolute;
  top: 65px;
  right: 55px;
  z-index: 1;
}
#impact .impact__wrapper .impact__img .imp__img4 {
  position: absolute;
  top: 160px;
  right: 75px;
}

#plan {
  width: 100%;
  height: 890px;
  background-color: #F9F9FB;
  padding: 100px 0;
}
#plan .plan__wrapper h2 {
  font-size: 48px;
  font-weight: 700;
  font-family: "Open Sans", serif;
  color: #141135;
  text-align: center;
  margin-bottom: 65px;
}
#plan .plan__wrapper .plan__card {
  height: 561px;
  border: none;
  box-shadow: 0px 0px 35px rgba(148, 148, 148, 0.1725490196);
  padding: 60px 0;
  border-radius: 20px;
}
#plan .plan__wrapper .plan__card h3 {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #141135;
  font-family: "Open Sans", serif;
  margin-bottom: 26px;
}
#plan .plan__wrapper .plan__card .plan__img {
  height: 170px;
  background-color: rgba(236, 237, 240, 0.25);
}
#plan .plan__wrapper .plan__card .plan__body {
  text-align: center;
  margin-top: 20px;
}
#plan .plan__wrapper .plan__card .plan__body h4 {
  font-size: 48px;
  font-weight: 800;
  line-height: 50px;
  color: #1bbf00;
  font-family: "Nunito", serif;
  margin-bottom: 15px;
}
#plan .plan__wrapper .plan__card .plan__body sup {
  font-size: 24px;
  font-weight: 500;
  line-height: 25px;
  color: #1bbf00;
  font-family: "Quicksand", serif;
}
#plan .plan__wrapper .plan__card .plan__body p {
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  color: #726E9E;
  font-family: "Paprika", serif;
  width: 252px;
}
#plan .plan__wrapper .plan__card:hover {
  background-color: #6B62C5;
}
#plan .plan__wrapper .plan__card:hover h3 {
  color: #FAFAFE;
}
#plan .plan__wrapper .plan__card:hover P {
  color: #FAFAFE;
}

#testimonial {
  width: 100%;
  height: 878px;
  background-color: #F8F8FF;
  padding: 100px 0;
}
#testimonial .test__wrapper h2 {
  font-size: 48px;
  font-weight: 700;
  color: #141135;
  font-family: "Open Sans", serif;
  margin-bottom: 50px;
  text-align: center;
}
#testimonial .test__wrapper .carousel__part .carousel__btnone {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: -40px;
  background-color: #141135;
  display: flex;
  justify-content: center;
  align-items: center;
}
#testimonial .test__wrapper .carousel__part .carousel__btnone i {
  font-size: 25px;
  line-height: 30px;
  color: #FFFFFF;
  margin: 0 auto;
}
#testimonial .test__wrapper .carousel__part .carousel__btntow {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 40px;
  background-color: #141135;
  display: flex;
  justify-content: center;
  align-items: center;
}
#testimonial .test__wrapper .carousel__part .carousel__btntow i {
  font-size: 25px;
  line-height: 30px;
  color: #FFFFFF;
  margin: 0 auto;
}
#testimonial .test__wrapper .carousel__part .carousel-inner {
  text-align: center;
  border-radius: 20px;
  margin: 0 auto;
  padding: 30px;
}
#testimonial .test__wrapper .carousel__part .carousel-inner img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  z-index: 1;
  position: relative;
}
#testimonial .test__wrapper .carousel__part .carousel-inner .card {
  margin-top: -80px;
  width: 1080px;
  height: 461px;
  text-align: center;
  border: none;
  background-color: #FFFFFF;
  border-radius: 20px;
  box-shadow: 0px 10px 20px #726E9E;
}
#testimonial .test__wrapper .carousel__part .carousel-inner .card .favoourites i {
  margin-top: 120px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #FF7628;
  margin-bottom: 35px;
}
#testimonial .test__wrapper .carousel__part .carousel-inner .card p {
  font-size: 24px;
  font-weight: 400;
  color: #726E9E;
  font-family: "Paprika", serif;
  margin-bottom: 48px !important;
  width: 800px;
  text-align: center;
  margin: 0 auto;
}
#testimonial .test__wrapper .carousel__part .carousel-inner .card h4 {
  font-size: 25px;
  font-weight: 700;
  color: #221A2c;
  font-family: "Paprika", serif;
  margin-bottom: 10px;
}
#testimonial .test__wrapper .carousel__part .carousel-inner .card h6 {
  font-size: 16px;
  font-weight: 400;
  color: #726E9E;
  font-family: "Paprika", serif;
}

#blog {
  width: 100%;
  height: 1111px;
  padding: 100px 0;
  background-color: #F9F9FB;
  position: relative;
}
#blog img {
  position: absolute;
  bottom: 0;
  left: 0;
}
#blog .blog__wrapper {
  width: 982px;
  margin: 0 auto;
}
#blog .blog__wrapper h2 {
  font-size: 50px;
  font-weight: 700;
  line-height: 65px;
  color: #030314;
  font-family: "Open Sans", serif;
  margin-bottom: 65px;
}
#blog .blog__wrapper .blog__video {
  width: 380px;
  height: 220px;
  background-color: #C4C4C4;
  border-radius: 15px;
}
#blog .blog__wrapper .blog__item a {
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  color: #726E9E;
  font-family: "Quicksand", serif;
}
#blog .blog__wrapper .blog__item a:hover {
  color: #1bbf00;
}
#blog .blog__wrapper .blog__item h3 {
  font-size: 30px;
  font-weight: 700;
  line-height: 55px;
  color: #141135;
  margin: 16px 0;
  font-family: "Open Sans", serif;
}
#blog .blog__wrapper .blog__item .blog__linkbtn {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  font-family: "Open Sans", serif;
  color: #141135;
  position: relative;
  z-index: 1;
}
#blog .blog__wrapper .blog__item .blog__linkbtn::after {
  content: "";
  width: 27px;
  height: 40px;
  background-color: #1BBF00;
  top: -5px;
  right: -10px;
  border-radius: 0 100px 100px 0;
  transform: translateY(0%);
  position: absolute;
  z-index: -1;
}
#blog .blog__wrapper .blog__item .blog__linkbtn:hover {
  color: #726E9E;
}

#footer {
  width: 100%;
  height: 631px;
  padding: 140px 0 57px 0;
  background-color: #48409C;
}
#footer .footer__top img {
  width: 135px;
  height: 73px;
}
#footer .footer__top p {
  margin-top: 45px;
  font-size: 18px;
  font-weight: 400;
  line-height: 180%;
  color: #FEFEFE;
  font-family: "Nunito", serif;
  width: 450px;
}
#footer .footer__top .footer__item h5 {
  font-size: 24px;
  font-weight: 600;
  line-height: 140%;
  color: #FEFEFE;
  font-family: "Open Sans", serif;
}
#footer .footer__top .footer__item li {
  margin-top: 48px;
  margin-bottom: 30px;
}
#footer .footer__top .footer__item li a {
  font-size: 20px;
  font-weight: 600;
  line-height: 120%;
  color: #FEFEFE;
  font-family: "Nunito", serif;
}
#footer .footer__top .footer__item li a:hover {
  color: #1bbf00;
}
#footer .footer__bottom p {
  font-size: 18px;
  font-weight: 400;
  line-height: 180%;
  color: #FEFEFE;
  font-family: "Nunito", serif;
}
#footer .footer__bottom li {
  margin-left: 60px;
}
#footer .footer__bottom li a {
  font-size: 18px;
  font-weight: 400;
  line-height: 180%;
  color: #FEFEFE;
  font-family: "Nunito", serif;
}
#footer .footer__bottom li a:hover {
  color: #1bbf00;
}/*# sourceMappingURL=style.css.map */