#chooseus {
  max-width: 100%;
  height: 626px;
  position: relative;
 
  .choo__img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .content { 
    padding-top: 100px;
    padding-bottom: 100px; 
  
    .content__left {
      border-radius: 12px;
      transition: .4s;
      width: 568px;
      margin-bottom: 30px;
    
      &:hover {
        padding: 42px 28px;
        box-shadow: -5px -5px 10px rgba(211, 211, 211, 0.748),
                      10px 10px 10px 5px rgba(94, 104, 121, 0.3);
        margin-left: -30px;         
      }

      .round {
        margin-top: 5px;

        .first {
          width: 25px;
          height: 25px;
          background-color: $success;
          border-radius: 50%;
        }
  
        .sceond {
          width: 25px;
          height: 25px;
          background-color: #CBC8F0;
          border-radius: 50%;
          margin-left: -15px;
        }
      }

      h4 {
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        color: #474179;
        font-family: "Paprika", serif;
        width: 340px;
      }
    }

    .con__right {
      h3 {
        font-size: 48px;
        font-weight: 700;
        color: #141135;
        font-family: "Open Sans", serif;
        margin-bottom: 9px;
      }

      p {
        font-size: 18px;
        font-weight: 400;
        color: #474179;
        font-family: "Paprika", serif;
        width: 393px;
        margin-bottom: 41px;
      }

      button {
        @include button ();
        background-color: transparent;
        color: #474179;
        transition: .4s;
        &:hover {
        background-color: $success;
        color: $light;
        }
      }
    }
  }
}