#testimonial {
    width: 100%;
    height: 878px;
    background-color: #F8F8FF;
    padding: 100px 0;

    .test__wrapper {

        h2 {
            font-size: 48px;
            font-weight: 700;
            color: #141135;
            font-family: "Open Sans", serif;
            margin-bottom: 50px;
            text-align: center;
        }

        .carousel__part {

            .carousel__btnone {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                margin-left: -40px;
                background-color: #141135;
                display: flex;
                justify-content: center;
                align-items: center;

                i {
                    font-size: 25px;
                    line-height: 30px;
                    color: #FFFFFF;
                    margin: 0 auto;
                }
            }

            .carousel__btntow {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                margin-left: 20px;
                background-color: #141135;
                display: flex;
                justify-content: center;
                align-items: center;

                i {
                    font-size: 25px;
                    line-height: 30px;
                    color: #FFFFFF;
                    margin: 0 auto;
                }
            }

            .carousel-inner {
                text-align: center;
                border-radius: 20px;
                margin: 0 auto;
                padding: 30px;

                img {
                    width: 150px;
                    height: 150px;
                    border-radius: 50%;
                    z-index: 1;
                    position: relative;
                }

                .card {
                    margin-top: -80px;
                    max-width: 1080px;
                    height: 461px;
                    text-align: center;
                    border: none;
                    background-color: #FFFFFF;
                    border-radius: 20px;
                    box-shadow: 0px 10px 20px #726E9E;

                    .favoourites {
                        i {
                        margin-top: 120px;
                        font-size: 16px;
                        font-weight: 700;
                        line-height: 24px;
                        color: #FF7628;
                        margin-bottom: 35px;
                        }
                    }

                    p {
                        font-size: 24px;
                        font-weight: 400;
                        color: #726E9E;
                        font-family: "Paprika", serif;
                        margin-bottom: 48px !important;
                        max-width: 800px;
                        text-align: center;
                        margin: 0 auto;
                    }

                    h4 {
                        font-size: 25px;
                        font-weight: 700;
                        color: #221A2c;
                        font-family: "Paprika", serif;
                        margin-bottom: 10px;
                    }

                    h6 {
                        font-size: 16px;
                        font-weight: 400;
                        color: #726E9E;
                        font-family: "Paprika", serif;
                    }
                }
            }
        }
    }
}